.home {
  padding-bottom: 64px;
}

.searchActive {
  @media (max-width: 48em) {
    padding-bottom: max(64px, 90svh);
  }
}

.header {
  padding: 72px 0 48px;

  .branding {
    @media (max-width: 30em) {
      flex-direction: column;
    }
  }

  .logo {
    height: 100px;
    width: 100px;
  }

  .heading {
    @media (max-width: 30em) {
      text-align: center;
    }
  }
}

.search {
  margin: 24px auto 0;
  max-width: 620px;
}

.searchInput {
  font-size: 16px;
}
